%h3.six.columns.centered User Show
%p.six.columns.centered
  User: #{@user.name}
%p
%div.six.columns.centered
  - @user.likes.order("created_time DESC").each do |like|
    = render partial:"ig_like", locals:{like:like}
