.six.columns.centered
  .centered
    %img.like_image{ src:like.standard_res_image }
  .like_caption
    = "Posted by: #{like.username}"
    - if like.web_url
      %a{ href:like.web_url } View on instagram
  %p