.no_likes_text
  Nothing to see here .. yet. We're probably busy getting your likes from instagram. Check back soon!
.no_likes_text
  This page will auto refresh until we come up with something.

:javascript
  setInterval(function(){document.location.reload(true)}, 10000);