.seven.columns.centered
  "Like it" is an app that keeps track of all of your likes on instagram, because instagram doesn't.
  .seven.columns.centered
    Sign in with Instagram and let us start keeping track!
