# Copy this file to application.yml and add application configuration 
# variables here, as shown below.

# These are required for omniauth with instagram
IG_CONSUMER_KEY:
IG_CONSUMER_SECRET:

NEW_RELIC_LICENSE_KEY:
NEW_RELIC_APP_NAME:

REDIS_PROVIDER:

SECRET_KEY_BASE:

