// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.like_image {
  background: black;
  padding: 5px;
}

.like_caption, .posted_by_caption {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.like_caption {
  text-align:right;
}

@media only screen and (max-width: 767px) {
  .like_caption {
    text-align:left;
  }
}

.instagram {
  padding: 1.8em 0px 0.2em 0px;
}

.facebox-saved {
  font-size: 4em;
  text-align: center;
  background-color: grey;
}
