// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.1em; }
.tag3 { font-size: 1.2em; }
.tag4 { font-size: 1.3em; }
.tag5 { font-size: 1.4em; }
.tag6 { font-size: 1.5em; }
.tag7 { font-size: 1.6em; }
.tag8 { font-size: 1.7em; }
.tag9 { font-size: 1.8em; }
