.top-nav
  = link_to "Like It", root_path, class: 'brand'
  .row.nav
    - if signed_in?
      .one.column.offset-by-ten= link_to 'Logout', signout_path
    - else
      .one.column.offset-by-ten= link_to 'Login', signin_path
    - if signed_in?
      - if current_user.admin?
        .one.column.offset-by-ten.end= link_to 'Admin', users_path
